//Meu Tema
$my-color-1: #013243;
$my-color-2: #2c3e50;
$my-color-3: #336e7b;
$my-color-4: #00b5cc;
$my-color-5: #c5eff7;

$theme-colors:(
    "my-color-1": $my-color-1,
    "my-color-2": $my-color-2,
    "my-color-3": $my-color-3,
    "my-color-4": $my-color-4,
    "my-color-5": $my-color-5
);

//Classes personalizadas
$body-bg: $my-color-5;
$link-color: $my-color-3;

// Importando o Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";